[% INCLUDE header.tmpl title='' %]
<h2>Curriculum Vitae</h2>

<table border="0" class="atop" cellspasing="3">
<tr><td>Name:</td>
<td>Faddeev Ludwig Dmitrievich</td>
</tr>
<tr><td>Date of Birth:</td>
<td>March 23, 1934
</td>
</tr>
<tr><td>Citizenship:</td>
<td>Russia
</td>
</tr>
<tr><td>Title:</td>
<td>Professor, Academician of the Russian Academy of Sciences
</td>
</tr>
<tr><td>Position:</td>
<td>Research worker, St.Petersburg Branch of
Steklov Mathematical Institute (POMI),
Professor of St. Petersburg State University,
Academician-Secretary of the Department of Mathematics
of Russian Academy of Sciences
</td>
</tr>
<tr><td>Scientific Biography:</td>
<td>Undergraduate Studies:
St. Petersburg University, Physics Department 1951-1956<br>
Graduate Studies: St. Petersburg University, Physics Department, 1957-1959
</td>
</tr>
<tr><td>Main Research Position:</td>
<td>St. Petersburg Branch of Steklov Mathematical Institute, 1959-
</td>
</tr>
<tr><td>Candidate Degree:</td>
<td>1959
</td>
</tr>
<tr><td>Doctor of Science Degree:</td>
<td>1963
</td>
</tr>
<tr><td>Speciality:</td>
<td>Quantum Mathematical Physics
</td>
</tr>
<tr><td>Academic Achievements:</td>
<td>Member of Russian Academy of Sciences since 1976,
foreign member of National Academy of Sciences USA,
American Academy of Arts and Sciences, Royal Society
of London, National Academies of France, China, Sweden,
Finland, Poland, Brazil, Austria, Bulgaria
and Academia Europea.
Honorary Doctor of University of Paris, Nankai University
at Tjan Tjin, University of Uppsala and University of
La Plata.<br>
President of International Mathematical Union, 1986-1990.
</td>
</tr>
<tr><td>Awards:</td>
<td>Recipient of State Prize of USSR, 1971, Danni Heinemann
Prize in Mathematical Physics, 1975, UAP Prize 1988,
Dirac Medal and Prize, 1991, State Prize of Russia, 1995,
Karpinsky Prize, 1995, Max Planck Medal, 1996, Demidov
Prize, 2002, State Prize of Russia 1995, 2005,
L.Euler Gold Medal of Russian Academy of Sciences 2002,
Bogoloubov Prize of Ukranian Academy, 2006,
Poincare Prize of International Association
of Mathematical Physics 2006, Shaw Prize 2008.
5 national orders of USSR and Russia,
Order for scientific merits in science, Brazil.
</td>
</tr>
<tr><td>Invited Honorable Lectures:</td>
<td>Loeb lectures at Harvard University, 1975,
Enrico Fermi lectures at Scuola Normale di Pisa, 1984,
Euler lecture of German Mathematical Society, 2004,
Leonardo da Vinci lecture at Milan University, 2005,
Solvay lectures, 2006.
Invited speaker and member of Advisory committee of
numerous confernces on general and special topics in
Mathematical Physics
</td>
</tr>
<tr><td>Publications:</td>
<td>Publication list consists of about 200 items, among them
5 monographs
</td>
</tr>
</table>
[% INCLUDE footer.tmpl %]
