<!DOCTYPE html>
<html xml:lang="ru" > 
<head><title>L. D. Faddeev</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/faddeev/style.css">
</head>
<body>
<div id="whole_page">
<div id="header"><div id="header_title"><h1>L. D. Faddeev</h1></div>
<img src="/faddeev/foto_main.jpg" height="105px" class="rightpic"></div>
<div class="layout">
<div id="left_menu">
<div class="level1"><a href="/faddeev/" title="Main page">Main page</a></div>
[% IF menu == 'main' %]
<div class="level2"><a href="/faddeev/index.cgi?page=cv" title="CV">CV</a></div>
<div class="level2"><a href="/faddeev/index.cgi?page=self" title="Autobiography">Autobiography</a></div>
[% END %]
<div class="level1"><a href="/faddeev/bibl.cgi" title="Publications">Publications</a></div>
[% IF menu == 'bibl' %]
<div class="level2"><a href="/faddeev/bibl.cgi?type=books" title="Books">Books</a></div>
<div class="level2"><a href="/faddeev/bibl.cgi?type=art" title="All articles">Articles</a></div>
<div class="level2"><a href="/faddeev/bibl.cgi?type=art&lang=ru" title="Russian articles">Russian articles</a></div>
<div class="level2"><a href="/faddeev/bibl.cgi?type=art&lang=en" title="English articles">English articles</a></div>
<div class="level2"><a href="/faddeev/bibl.cgi?type=sel" title="Selected works">Selected works</a></div>
[% END %]
<div class="level1"><a href="/faddeev/index.cgi?page=misc" title="Non scientific articles">Other materials</a></div>
[% IF menu == 'misc' %]
<div class="level2"><a href="/faddeev/index.cgi?page=worry" title="Article1">Article1</a></div>
[% END %]
<div class="level1"><a href="/faddeev/index.cgi?page=media" title="L.D.Faddeev in media">In the media</a></div>
<div class="level1"><a href="/faddeev/index.cgi?page=links" title="External links">Related links</a></div>
</div>
<div id="content">

