[% INCLUDE header.tmpl title='' %]
<h2>About L. Faddeev (from wikipedia)</h2>
<p>Ludvig Dmitrievich Faddeev is a Soviet and Russian theoretical
physicist and mathematician. He is famous for the discovery of the Faddeev
equations in the theory of the quantum mechanical three-body problem and for
the development of path integral methods in the quantization of non-abelian
gauge field theories, including the introduction (with Victor Popov) of
Faddeev-Popov ghosts. He led the Leningrad School, in which he along with many
of his students developed the quantum inverse scattering method for studying
quantum integrable systems in one space and one time dimension. This work led
to the invention of quantum groups </p>

[% INCLUDE footer.tmpl %]
