[% INCLUDE header.tmpl title='' menu='links' %]
<h2>Other links</h2>
<ul>
<li><a href="http://www.pdmi.ras.ru/">St. Petersburg Department of Steklov Institute</a></li>
<li><a href="http://arxiv.org/">E-print archive arXiv.org</a></li>
<li><a href="http://inspirehep.net/">High-Energy Physics Literature Database</a></li>
</ul>

[% INCLUDE footer.tmpl %]
