[% INCLUDE header.tmpl title='' %]
<h2>L. Faddeev in the media</h2>
<ul>
<li>Article in the <a href="http://www.scientificrussia.ru/articles/akademik-lyudvig-faddeev-krasota-spaset-mir-somnevayus-1">ScientificRussia 23.01.2014</a></li>
<li>Interview with Professor L.D. Faddeev in <a href="http://www.ems-ph.org/journals/newsletter/pdf/2007-06-64.pdf">Newsletter of the EMS</a></li>
</ul>

[% INCLUDE footer.tmpl %]
