[% INCLUDE header.tmpl title='' %]
<h2>Autobiography</h2>

<p>I was born on March 10, 1934 in Leningrad (now St.Petersburg), where I have
resided for most of my life. The exception was during the war from the middle
of 1941 till the beginning of 1945, when I was evacuated from Leningrad and
lived in several places in the East, mostly in Kazan.</p>

<p>Both my parents were mathematicians. My father&#39;s interests
were very wide, but he considered himself an algebraist. It is acknowledged
now, that he was an independent creator of the homological algebra. My mother
worked on applied problems; her most known contributions are to the
computational methods of linear algebra.</p>

<p>In high school I had many different interests including
photography, radio modelling and cross-country skiing. I was good at
mathematics in class, but was not an &quot;Olympiad boy&quot;. I decided to
get higher education at the Department of Physics of Leningrad University to
be independent of my father, who was Professor at the Department of
Mathematics.</p>

<p>However, mathematics caught me there. Due to the influence of
academicians V.&#8239;A.&#8239;Fock and V.&#8239;I.&#8239;Smirnov the mathematical education of students
of the Department of Physics was excellently organized. My tutor from the
third year of undergraduate studies was Professor O.&#8239;A.&#8239;Ladyzhenskaya,
a renowned specialist in PDE. She did not push me into this field of classical
mathematical physics. Rather, she proposed me as an additional reading papers
on the quantum scattering problem. The first was a paper of N.&#8239;Levinson on the
uniqueness in the reconstruction of potential in the radial Schroedinger
operator from the phase shift. Also, I was to read and relate on the special
seminar the book of K.&#8239;O.&#8239;Friedrichs &quot;Mathematical Aspects of Quantum Field
Theory&quot;. Of course I came through all traditional courses in Theoretical
Physics. So I was very lucky to get an excellent education both in Theoretical
Physics and Mathematics which defined my future career as a mathematical
physicist with prime interest in quantum theory.</p>

<p>I finished my undergraduate studies in 1956 and graduated with
the degree of Candidate of Sciences in 1959. During this time I was happy to
marry Anna Veselova. We have two daughters and four grandchildren, already
quite adult.</p>

<p>My first scientific paper was published in 1956, so I have
been involved in active scientific work for more than 50 years. I began by
treating the mathematical questions of the quantum scattering theory, both
direct and inverse problems. The treatment of the quantum scattering theory
for the system of three particles, based on the integral equations, now
bearing my name, brought me my first success. The work was highly appreciated
by the specialists in nuclear physics. The attention of mathematicians came
later and now the theory of many body quantum scattering is an active subject
of modern mathematical physics. However, personally I estimate higher my
solution of the overdetermined many dimensional inverse problem for the
Schroedinger operator with local potential. Recently, I have heard that this
work gets practical applications in tomography.</p>

<p>The first success and defence of the Doctor of Science
dissertation in 1963 allowed me to turn to Quantum Field Theory &ndash; my
dream of younger years. At that time the QFT was practically forbidden in the
Soviet Union because of the (pure scientific) censorship of Landau.
Fortunately, living in Leningrad I was outside the scope of Moscow influence
and was free to do what I wanted. After reading the Polish lecture of
R.&#8239;Feynman and the book by A.&#8239;Lichnerowitz on the theory of connections,
I decided to work on the problem of quantization of the Yang-Mills field. In
the fall of 1966, in collaboration with a bright young colleague, Victor
Popov, I came to the proper formulation of this theory in terms of the
functional integral. We calculated the formal measure, on the manifold of the
gauge equivalent classes of connections. Later it was said that we overplayed
Feynman in his field. Our short paper, published in 1967, became popular only
several years later, when the Yang-Mills field was incorporated into the
unified theory of Electromagnetic and Weak Interactions by S.&#8239;Weinberg,
A.&#8239;Salam.</p>

<p>In 1970 I was introduced by V.&#8239;Zakharov to the inverse
scattering method of solving the nonlinear evolution equation on two
dimensional space-time. Our first joint result &ndash; the Hamiltonian
interpretation and complete integrability of the Korteveg - de Vries equation
&ndash; defined my activity for 20 years. The main achievements here, made
together with a large group of excellent students (now called &quot;Leningrad
School&quot;), are the unravelling of the algebraic structure of quantum
integrable models (the Yang-Baxter equation) and formulation of the Algebraic
Bethe Ansatz. This development eventually became a base of construction of
quantum groups by V.&#8239;Drinfeld.</p>

<p>It is quite invigorating for me to watch how this formalism
was resurrected in the modern treatment the Yang-Mills theory.</p>

<p>In later years I also returned to the Yang-Mills theory,
however without connection with integrability. Together with my colleague,
A.&#8239;Niemi, I try to find an adequate picture for the particle-live excitations
in this theory. We envision a possible knot-like soliton structure for them.
However, the work is in its preliminary stage.</p>

<p>At present I live quite comfortably in St.&#8239;Petersburg. I enjoy
contacts with my former students, living in Europe and the USA, and hope to
recruit new ones from the generation more than 50 years younger than me.<br />
<br />
<br />
9 September 2008, Hong Kong</p>

[% INCLUDE footer.tmpl %]
